<html>
    <head>
        <title>UNIse</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="main_container">

            <div class="search_bar">

                <div style="width: 25vw" class="search">
                    <input id="keyword" type="text" class="searchTerm" placeholder="What are you looking for?">
                </div>
                <div class="search">
                    <p style="font-size: 14pt; color: #00B4CC">You can search for general keywords, by subject (analisi, algebra, ...) or by year (1, 2, 3, ...)</p>
                </div>

                <div class="search sortby">
                    <h3 id="sortby">Sort by:</h3>
                    <label class="container">None
                        <input type="radio" name="sort" checked value="">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Subject
                        <input type="radio" name="sort" value="subject">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Year
                        <input type="radio" name="sort" value="year">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Course
                        <input type="radio" name="sort" value="course">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="search_button">
                    <button id="search_button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="search_output">

            </div>

        </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
